/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/var/
!app/cache/.gitkeep
/app/config/parameters.yml
/app/parameters.yml
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/src/.metadata/*
/.settings/*
/web/config.php