/var/
/app/config/parameters.yml
/app/parameters.yml
/app/parameters_livehost.yml
/app/phpunit.xml
/bin/
/Scripts/
/composer.phar
/desktop.ini
/.buildpath
/.dbeaver-data-sources.xml
/.project
/.tern-project
/vendor/
/web/bundles/
/web/uploads/*
/web/css/*
/old/
/src/.metadata/*
/.settings/*
/web/config.php
