version: '2'
services:
  db:
    image: mysql
    command: ['--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci','--default-authentication-plugin=mysql_native_password']
    environment:
      - MYSQL_ROOT_PASSWORD=shufler
      - MYSQL_DATABASE=shufler
    ports:
      - 3307:3306
    volumes:
      - "db_data:/var/lib/mysql"

volumes:
#  facial_flowder_data:
  db_data:
