.bande-flux {
	background-color: rgba(0, 0, 0, 0.6);
	border-bottom: 5px solid black;
}

.date {
	color:white;
}

.info {
	background-color: rgba(255, 255, 255, 0.4);
	margin: 5px 0px;
}

h2.flux-titre {
	color: white;
	border-bottom: 1px dotted white;
	text-align: center;
}

.info h2 {
	font-size: 140%;
	font-weight: bold;
}

.info a {
	color: #dccc53;
}

.info p {
    background-color: #2d2727;
    color: white;
    padding: 1em;
}

.flux-summary a {
	color: white;
}

.info a:hover, .flux-summary a:hover {
	text-decoration: underline;
}

.info img {
	width: 100%;
}

.info iframe {
	width: 100%;
}

.titre img {
	display: block;
	margin: 8px auto;
}

.titre img.channel {
    display: block;
    float: left;
    margin: -20px -15px;
}

.flux-summary {
	color: white;
}

.btn-toggle span {
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-o-transition: all 1s ease; /* IE 9 */
	-ms-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
}

.bloc-pages {
	text-align: center;
	color: yellow;
}

.bloc-pages a {
	color: white;
}

.play {
	background-color: white;
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
	height: 35px;
}

.play.processed{
    height: 55px;
}

.play-button {
	border-radius: 15px;
	color: #666;
	padding: 5px;
}

#coch, #decoch {
	background-color: #666;
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.link {
    
}

.link li {
    list-style: none;
    margin: 15px 0px;
}

.link ul li a {
    width: 100%;
    background-color: white;
    padding: .5em;
    color: black;
}

.link ul li a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
}