imports:
- resource: parameters.yml
- resource: security.yml
- resource: services.yml
parameters:
  locale: en
  private_key: '%kernel.root_dir%/var/jwt/private.pem'
  public_key: '%kernel.root_dir%/var/jwt/public.pem'
  pass_phrase: ThisTokenIsNotSoSecretChangeItPlease
  token_ttl: 86400
  youtube_key: AIzaSyBNgi3EddUNsFThnFQpPt3RR9kkuWmhHdo
  logo_directory: '%kernel.project_dir%/web/uploads/logos'
  csv_path: '%kernel.project_dir%/web/uploads/music.csv'
framework:
  translator:
    fallbacks:
    - '%locale%'
  secret: '%secret%'
  router:
    resource: '%kernel.root_dir%/config/routing.yml'
    strict_requirements: null
  form: null
  csrf_protection: null
  validation:
    enable_annotations: true
  serializer:
    enable_annotations: true
  templating:
    engines:
    - twig
  default_locale: '%locale%'
  trusted_hosts: null
  session:
    handler_id: null
  fragments: null
  http_method_override: true
twig:
  debug: '%kernel.debug%'
  strict_variables: '%kernel.debug%'
  globals:
    webmaster: '%app_webmaster%'
    youtube_key: '%youtube_key%'
assetic:
  debug: '%kernel.debug%'
  use_controller: false
  bundles:
  - SHUFLERShuflerBundle
  filters:
    cssrewrite: null
    yui_js:
      jar: '%kernel.root_dir%/Resources/java/yuicompressor-2.4.8.jar'
    yui_css:
      jar: '%kernel.root_dir%/Resources/java/yuicompressor-2.4.8.jar'
doctrine:
  dbal:
    driver: pdo_mysql
    host: '%database_host%'
    port: '%database_port%'
    dbname: '%database_name%'
    user: '%database_user%'
    password: '%database_password%'
    charset: UTF8
    server_version: 5.6
  orm:
    auto_generate_proxy_classes: '%kernel.debug%'
    naming_strategy: doctrine.orm.naming_strategy.underscore
    auto_mapping: true
swiftmailer:
  transport: '%mailer_transport%'
  host: '%mailer_host%'
  username: '%mailer_user%'
  password: '%mailer_password%'
  spool:
    type: memory
fos_user:
  db_driver: orm
  firewall_name: main
  user_class: SHUFLER\UserBundle\Entity\User
  from_email:
    address: you@example.com
    sender_name: You
endroid_twitter:
  consumer_key: VXoWGb1ELRCkl4EYfDdpjDHq0
  consumer_secret: i0Fz0ntQPTF23rwznQp0bLOIptOIYTq0L27seIloVxlGWQvNa0
  access_token: 881191637896093696-EKBLpT1BWl6BVAEfU05KaXPc4aUk4oa
  access_token_secret: MoSucw4CZjOYvY63wAcX0NROAIyIZ5PGAUVDxQKUiyn3S
jms_i18n_routing:
  default_locale: '%locale%'
  locales:
  - en
  - fr
  - es
  - de
  - it
  - nl
  strategy: prefix
fos_rest:
  allowed_methods_listener: true
  param_fetcher_listener: true
  body_listener: true
  format_listener: true
  view:
    view_response_listener: force
    formats:
      xml: true
      json: true
    templating_formats:
      html: true
    force_redirects:
      html: true
    failed_validation: HTTP_BAD_REQUEST
    default_engine: twig
  exception:
    codes:
      Symfony\Component\Routing\Exception\ResourceNotFoundException: 404
      Doctrine\ORM\OptimisticLockException: HTTP_CONFLICT
    messages:
      Symfony\Component\Routing\Exception\ResourceNotFoundException: true
  access_denied_listener:
    json: true
  disable_csrf_role: ROLE_API
  routing_loader:
    default_format: json
nelmio_api_doc:
  name: App API documentation
  sandbox:
    body_format:
      formats:
      - form
      - json
      - xml
      default_format: json
jms_serializer:
  metadata:
    directories:
      FOSUB:
        namespace_prefix: FOS\UserBundle
        path: '%kernel.root_dir%/serializer/FOSUserBundle'
lexik_jwt_authentication:
  secret_key: '%private_key%'
  public_key: '%public_key%'
  pass_phrase: '%pass_phrase%'
  token_ttl: '%token_ttl%'
  token_extractors:
    authorization_header: null
    cookie: null
    query_parameter: null