shufler_homepage:
    path: /
    defaults: { _controller: "SHUFLERShuflerBundle:Video:index", _locale: "%locale%" }

shufler_videos:
    path: /videos/{categorie}/{genre}/{periode}/{page}
    defaults: {_controller: "SHUFLERShuflerBundle:Video:getVideos", categorie: 0, genre: 0, periode: 0, page: 1}
    requirements:
        page: \d*

shufler_couch:
    path: /couch/{categorie}/{genre}/{periode}
    defaults: {_controller: "SHUFLERShuflerBundle:Video:couch", categorie : 0, genre : 0, periode: 0}

shufler_video_edit:
    path: /VideoEdit/{id}
    defaults: {_controller: "SHUFLERShuflerBundle:Video:edit", id: 0}
    requirements:
        id: \d*

shufler_trash:
    path: /trash/{page}
    defaults: {_controller: "SHUFLERShuflerBundle:Video:getTrash", page : 1 }
    requirements:
        page: \d*

shufler_view:
    path: /view/{id}
    defaults: {_controller: "SHUFLERShuflerBundle:Video:view"}
    requirements:
        id: \d*

shufler_search:
    path: /search/{page}
    defaults: {_controller: "SHUFLERShuflerBundle:Video:search", page: 1}
    requirements:
        page: \d*

shufler_video_delete:
    path: /delete/{id}
    defaults: {_controller: "SHUFLERShuflerBundle:Video:delete"}
    requirements:
        id: \d*

shufler_video_publish:
    path: /publish/{id}/{publish}
    defaults: {_controller: "SHUFLERShuflerBundle:Video:publish", publish: false}
    requirements:
        id: \d*
        publish: '^(true|false|1|0)$'

shufler_mail:
    path: /mail
    defaults: {_controller: "SHUFLERShuflerBundle:Main:mail"}

shufler_links:
    path: /links
    defaults: {_controller: "SHUFLERShuflerBundle:Flux:links"}

shufler_searchAjax:
    path: /searchAjax
    defaults: {_controller: "SHUFLERShuflerBundle:Main:searchAjax"}

shufler_apisearch_video:
    path: /apisearch/video
    defaults: {_controller: "SHUFLERShuflerBundle:Other:searchApiVideo"}

shufler_apisearch_channel:
    path: /apisearch/channel
    defaults: {_controller: "SHUFLERShuflerBundle:Other:searchApiChannel"}

shufler_rss:
    path: /rss
    defaults: {_controller: "SHUFLERShuflerBundle:Flux:rss"}

shufler_podcast:
    path: /podcast
    defaults: {_controller: "SHUFLERShuflerBundle:Flux:podcast"}

shufler_radio:
    path: /radio
    defaults: {_controller: "SHUFLERShuflerBundle:Flux:radio"}

shufler_playlist:
    path: /playlist
    defaults: {_controller: "SHUFLERShuflerBundle:Flux:playlist"}
    
shufler_dailypod:
    path: /dailypod
    defaults: {_controller: "SHUFLERShuflerBundle:Flux:dailyPod"}

shufler_flux_edit:
    path: /fluxEdit/{id}
    defaults: {_controller: "SHUFLERShuflerBundle:Flux:fluxEdit", id: null}
    requirements:
        id: \d*

shufler_flux_delete:
    path: /fluxDelete/{id}
    defaults: {_controller: "SHUFLERShuflerBundle:Flux:delete"}
    requirements:
        id: \d*

shufler_flux_deleteLogo:
    path: /fluxDeleteLogo/{id}
    defaults: {_controller: "SHUFLERShuflerBundle:Flux:deleteLogo"}
    requirements:
        id: \d*
      
shufler_video_channels:
    path: /videoChannels
    defaults: {_controller: "SHUFLERShuflerBundle:Other:getVideoChannels"}      
      
shufler_channel_delete:
    path: /channelDelete/{id}/{id_flux}
    defaults: {_controller: "SHUFLERShuflerBundle:Other:delete", id_flux: null}
    requirements:
        id: \d*

shufler_channel_deleteLogo:
    path: /channelDeleteLogo/{id}
    defaults: {_controller: "SHUFLERShuflerBundle:Other:deleteLogo"}
    requirements:
        id: \d*

shufler_edit_channel:
    path: /channelEdit/{id}
    defaults: {_controller: "SHUFLERShuflerBundle:Other:channelEdit", id: null}
    requirements:
        id: \d*

shufler_tweeter:
    path: /tweeter
    defaults: {_controller: "SHUFLERShuflerBundle:Flux:tweeter"}

shufler_aspicture:
  path: /aspicture
  defaults: {_controller: "SHUFLERShuflerBundle:Other:aspicture"}

shufler_music_tracks:
    path: /music/list/{mode}
    defaults: {_controller: "SHUFLERShuflerBundle:MusicTrack:getTracks", mode: "tracks"}

shufler_music_tracks_by_album:
    path: /music/album/tracks
    defaults: {_controller: "SHUFLERShuflerBundle:MusicTrack:getTracksByAlbum"}

shufler_music_albums_api:
  path: /albums_api
  defaults: {_controller: "SHUFLERShuflerBundle:MusicTrack:albumsApi"}    

shufler_music_artistes_api:
  path: /artistes_api
  defaults: {_controller: "SHUFLERShuflerBundle:MusicTrack:artistesApi"}    

shufler_music_artistes:
  path: /artistes
  defaults: {_controller: "SHUFLERShuflerBundle:MusicTrack:getArtistes"}

shufler_music_albums:
  path: /albums
  defaults: { _controller: "SHUFLERShuflerBundle:MusicTrack:getAlbums"}

shufler_music_random_tracks:
    path: /music/random/
    defaults: {_controller: "SHUFLERShuflerBundle:MusicTrack:getRandomTracks", genre : null, note: null}

shufler_insee:
    path: /insee
    defaults: {_controller: "SHUFLERShuflerBundle:Flux:insee"}

shufler_map:
    path: /map
    defaults: {_controller: "SHUFLERShuflerBundle:Other:map"} 