shufler_homepage:
    path: /
    defaults: { _controller: SHUFLERShuflerBundle:Video:index, _locale: %locale% }

shufler_viewByCategorie:
    path: /{categorie}/{genre}/{page}
    defaults: {_controller: SHUFLERShuflerBundle:Video:viewByCategorie, genre: null, page: 1}
    requirements:
        categorie: 0|([1-9]?)
        page: \d*

shufler_viewByPeriode:
    path: /periode/{periode}/{page}
    defaults: {_controller: SHUFLERShuflerBundle:Video:viewByPeriode, page: 1}
    requirements:
        page: \d*

shufler_video_edit:
    path: /VideoEdit/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Video:edit, id: 0}
    requirements:
        id: \d*

shufler_view:
    path: /view/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Video:view}
    requirements:
        id: \d*

shufler_search:
    path: /search/{page}
    defaults: {_controller: SHUFLERShuflerBundle:Video:search, page: 1}
    requirements:
        page: \d*

shufler_video_delete:
    path: /delete/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Video:delete}
    requirements:
        id: \d*

shufler_video_depublished:
    path: /depublished/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Video:depublished}
    requirements:
        id: \d*

shufler_video_published:
    path: /published/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Video:published}
    requirements:
        id: \d*

shufler_couch:
    path: /couch
    defaults: {_controller: SHUFLERShuflerBundle:Video:couch}

shufler_mail:
    path: /mail
    defaults: {_controller: SHUFLERShuflerBundle:Main:mail}

shufler_links:
    path: /links
    defaults: {_controller: SHUFLERShuflerBundle:Flux:links}

shufler_searchAjax:
    path: /searchAjax
    defaults: {_controller: SHUFLERShuflerBundle:Main:searchAjax}

shufler_apiyt:
    path: /apiyt
    defaults: {_controller: SHUFLERShuflerBundle:Other:searchApi}

shufler_rss:
    path: /rss
    defaults: {_controller: SHUFLERShuflerBundle:Flux:rss}

shufler_podcast:
    path: /podcast
    defaults: {_controller: SHUFLERShuflerBundle:Flux:podcast}

shufler_radio:
    path: /radio
    defaults: {_controller: SHUFLERShuflerBundle:Flux:radio}

shufler_dailypod:
    path: /dailypod
    defaults: {_controller: SHUFLERShuflerBundle:Flux:dailyPod}

shufler_flux_edit:
    path: /fluxEdit/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Flux:fluxEdit, id: null}
    requirements:
        id: \d*

shufler_flux_delete:
    path: /fluxDelete/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Flux:delete}
    requirements:
        id: \d*

shufler_flux_deleteLogo:
    path: /fluxDeleteLogo/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Flux:deleteLogo}
    requirements:
      id: \d*
      
shufler_channel_delete:
    path: /channelDelete/{id}/{id_flux}
    defaults: {_controller: SHUFLERShuflerBundle:Other:delete, id_flux: null}
    requirements:
        id: \d*

shufler_channel_deleteLogo:
    path: /channelDeleteLogo/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Other:deleteLogo}
    requirements:
      id: \d*

shufler_edit_channel:
    path: /channelEdit/
    defaults: {_controller: SHUFLERShuflerBundle:Other:channelEdit}

shufler_tweeter:
    path: /tweeter
    defaults: {_controller: SHUFLERShuflerBundle:Flux:tweeter}

shufler_insee:
    path: /insee
    defaults: {_controller: SHUFLERShuflerBundle:Flux:insee}
    
shufler_test:
    path: /test
    defaults: {_controller: SHUFLERShuflerBundle:Other:test}    