shufler_shufler_homepage:
    path: /
    defaults: { _controller: SHUFLERShuflerBundle:Video:index, _locale: %locale% }

shufler_shufler_viewByCategorie:
    path: /{categorie}/{page}
    defaults: {_controller: SHUFLERShuflerBundle:Video:viewByCategorie, page: 1}
    requirements:
        categorie: 0|([1-9]?)
        page: \d*

shufler_shufler_viewByPeriode:
    path: /periode/{periode}/{page}
    defaults: {_controller: SHUFLERShuflerBundle:Video:viewByPeriode, page: 1}
    requirements:
        page: \d*

shufler_shufler_video_edit:
    path: /VideoEdit/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Video:edit, id: 0}
    requirements:
        id: \d*

shufler_shufler_view:
    path: /view/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Video:view}
    requirements:
        id: \d*

shufler_shufler_search:
    path: /search/{page}
    defaults: {_controller: SHUFLERShuflerBundle:Video:search, page: 1}
    requirements:
        page: \d*

shufler_shufler_video_delete:
    path: /delete/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Video:delete}
    requirements:
        id: \d*

shufler_shufler_video_depublished:
    path: /depublished/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Video:depublished}
    requirements:
        id: \d*

shufler_shufler_video_published:
    path: /published/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Video:published}
    requirements:
        id: \d*

shufler_shufler_couch:
    path: /couch
    defaults: {_controller: SHUFLERShuflerBundle:Video:couch}

shufler_shufler_mail:
    path: /mail
    defaults: {_controller: SHUFLERShuflerBundle:Main:mail}

shufler_shufler_links:
    path: /links
    defaults: {_controller: SHUFLERShuflerBundle:Other:links}

shufler_shufler_searchAjax:
    path: /searchAjax
    defaults: {_controller: SHUFLERShuflerBundle:Main:searchAjax}

shufler_shufler_apiyt:
    path: /apiyt
    defaults: {_controller: SHUFLERShuflerBundle:Other:searchApi}

shufler_shufler_rss:
    path: /rss
    defaults: {_controller: SHUFLERShuflerBundle:Other:rss}

shufler_shufler_podcast:
    path: /podcast
    defaults: {_controller: SHUFLERShuflerBundle:Other:podcast}

shufler_shufler_flux_edit:
    path: /fluxEdit/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Other:fluxEdit, id: 0}
    requirements:
        id: \d*

shufler_shufler_flux_delete:
    path: /fluxDelete/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Other:delete}
    requirements:
        id: \d*

shufler_shufler_flux_deleteLogo:
    path: /fluxDeleteLogo/{id}
    defaults: {_controller: SHUFLERShuflerBundle:Other:deleteLogo}
    requirements:
        id: \d*