{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<form action="{{ path("fos_user_change_password") }}" method="post">
	<div class="form-group">
		{{ form_widget(form) }}
		<div>
			<input type="change_password_submit" class= "btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
		</div>
	</div>
</form>
{% endblock fos_user_content %}
