
{% extends "SHUFLERShuflerBundle::layout.html.twig" %}

{% block title %}{{ parent() }} Home{% endblock %}

{% block body %}
	<h1>Liens</h1>
	{% for categ in categories %}
		<div class="link col col-sm-6 col-md-4">
			<h2>{{ categ.category }}</h2>
			<ul>	
				{% for link in links %}
					{% if link.category == categ.category %}
						<li><a href="http://{{link.link }}" target=_blank>{{ link.name }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
{% endblock %}